openapi: 3.0.1
info:
  contact:
    name: Looker Team
    url: https://help.looker.com
  description: |+
    ### Authorization

    The Looker API uses Looker **API3** credentials for authorization and access control. Looker admins can
    create API3 credentials on Looker's **Admin/Users** page. Pass API3 credentials to the **/login** endpoint to
    obtain a temporary access_token. Include that access_token in the Authorization header of Looker API requests.
    For details, see [Looker API Authorization](https://looker.com/docs/r/api/authorization)

    ### Client SDKs

    The Looker API is a RESTful system that should be usable by any programming language capable of making
    HTTPS requests. Client SDKs for a variety of programming languages can be generated from the Looker API's Swagger
    JSON metadata to streamline use of the Looker API in your applications. A client SDK for Ruby is available
    as an example. For more information, see [Looker API Client SDKs](https://looker.com/docs/r/api/client_sdks)

    ### Try It Out!

    The 'api-docs' page served by the Looker instance includes 'Try It Out!' buttons for each API method. After logging
    in with API3 credentials, you can use the "Try It Out!" buttons to call the API directly from the documentation
    page to interactively explore API features and responses.

    Note! With great power comes great responsibility: The "Try It Out!" button makes API calls to your live Looker
    instance. Be especially careful with destructive API operations such as `delete_user` or similar.
    There is no "undo" for API operations.

    ### Versioning

    Future releases of Looker will expand this API release-by-release to securely expose more and more of the core
    power of Looker to API client applications. API endpoints marked as "beta" may receive breaking changes without
    warning (but we will try to avoid doing that). Stable (non-beta) API endpoints should not receive breaking
    changes in future releases.
    For more information, see [Looker API Versioning](https://looker.com/docs/r/api/versioning)

    ### In This Release

    The following are a few examples of noteworthy items that have changed between API 3.0 and API 3.1.
    For more comprehensive coverage of API changes, please see the release notes for your Looker release.

    ### Examples of new things added in API 3.1 (compared to API 3.0):

    * [Dashboard construction](#!/3.1/Dashboard/) APIs
    * [Themes](#!/3.1/Theme/) and [custom color collections](#!/3.1/ColorCollection) APIs
    * Create and run [SQL Runner](#!/3.1/Query/run_sql_query) queries
    * Create and run [merged results](#!/3.1/Query/create_merge_query) queries
    * Create and modify [dashboard filters](#!/3.1/Dashboard/create_dashboard_filter)
    * Create and modify [password requirements](#!/3.1/Auth/password_config)

    ### Deprecated in API 3.0

    The following functions and properties have been deprecated in API 3.0.  They continue to exist and work in API 3.0
    for the next several Looker releases but they have not been carried forward to API 3.1:

    * Dashboard Prefetch functions
    * User access_filter functions
    * User API 1.0 credentials functions
    * Space.is_root and Space.is_user_root properties. Use Space.is_shared_root and Space.is_users_root instead.

    ### Semantic changes in API 3.1:

    * [all_looks()](#!/3.1/Look/all_looks) no longer includes soft-deleted looks, matching [all_dashboards()](#!/3.1/Dashboard/all_dashboards) behavior.
    You can find soft-deleted looks using [search_looks()](#!/3.1/Look/search_looks) with the `deleted` param set to True.
    * [all_spaces()](#!/3.1/Space/all_spaces) no longer includes duplicate items
    * [search_users()](#!/3.1/User/search_users) no longer accepts Y,y,1,0,N,n for Boolean params, only "true" and "false".
    * For greater client and network compatibility, [render_task_results](#!/3.1/RenderTask/render_task_results) now returns
    HTTP status **202 Accepted** instead of HTTP status **102 Processing**
    * [all_running_queries()](#!/3.1/Query/all_running_queries) and [kill_query](#!/3.1/Query/kill_query) functions have moved into the [Query](#!/3.1/Query/) function group.


    If you have application code which relies on the old behavior of the APIs above, you may
    continue using the API 3.0 functions in this Looker release. We strongly suggest you
    update your code to use API 3.1 analogs as soon as possible.

  license:
    name: EULA
    url: https://picomes.cloud.looker.com/eula
  title: Looker API 3.1 Reference
  version: 3.1.0
  x-looker-release-version: 7.18.30
servers:
- url: https://picomes.cloud.looker.com:443/api/3.1
tags:
- description: API Authentication
  name: ApiAuth
- description: Manage User Authentication Configuration
  name: Auth
- description: Manage Color Collections
  name: ColorCollection
- description: Manage General Configuration
  name: Config
- description: Manage Database Connections
  name: Connection
- description: Manage Content
  name: Content
- description: Manage Dashboards
  name: Dashboard
- description: Run Data Actions
  name: DataAction
- description: Manage Datagroups
  name: Datagroup
- description: Manage Folders
  name: Folder
- description: Manage Groups
  name: Group
- description: Manage Homepage
  name: Homepage
- description: Manage Integrations
  name: Integration
- description: Run and Manage Looks
  name: Look
- description: Manage LookML Models
  name: LookmlModel
- description: Manage Projects
  name: Project
- description: Run and Manage Queries
  name: Query
- description: Manage Render Tasks
  name: RenderTask
- description: Manage Roles
  name: Role
- description: Manage Scheduled Plans
  name: ScheduledPlan
- description: Session Information
  name: Session
- description: Manage Spaces
  name: Space
- description: Manage Themes
  name: Theme
- description: Manage Users
  name: User
- description: Manage User Attributes
  name: UserAttribute
- description: Manage Workspaces
  name: Workspace
paths:
  /query_tasks:
    post:
      description: |
        ### Create an async query task

        Creates a query task (job) to run a previously created query asynchronously. Returns a Query Task ID.

        Use [query_task(query_task_id)](#!/Query/query_task) to check the execution status of the query task.
        After the query task status reaches "Complete", use [query_task_results(query_task_id)](#!/Query/query_task_results) to fetch the results of the query.
      operationId: create_query_task
      parameters:
      - description: Row limit (may override the limit in the saved query).
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      - description: Apply model-specified formatting to each result.
        in: query
        name: apply_formatting
        schema:
          type: boolean
      - description: Apply visualization options to results.
        in: query
        name: apply_vis
        schema:
          type: boolean
      - description: Get results from cache if available.
        in: query
        name: cache
        schema:
          type: boolean
      - description: Render width for image formats.
        in: query
        name: image_width
        schema:
          format: int64
          type: integer
      - description: Render height for image formats.
        in: query
        name: image_height
        schema:
          format: int64
          type: integer
      - description: Generate drill links (only applicable to 'json_detail' format.
        in: query
        name: generate_drill_links
        schema:
          type: boolean
      - description: Force use of production models even if the user is in development
          mode.
        in: query
        name: force_production
        schema:
          type: boolean
      - description: Retrieve any results from cache even if the results have expired.
        in: query
        name: cache_only
        schema:
          type: boolean
      - description: Prefix to use for drill links (url encoded).
        in: query
        name: path_prefix
        schema:
          type: string
      - description: Rebuild PDTS used in query.
        in: query
        name: rebuild_pdts
        schema:
          type: boolean
      - description: Perform table calculations on query results
        in: query
        name: server_table_calcs
        schema:
          type: boolean
      - description: Requested fields
        in: query
        name: fields
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQueryTask'
        description: Query parameters
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTask'
          description: query_task
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        409:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource Already Exists
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Run Query Async
      tags:
      - Query
      x-looker-status: beta
      x-looker-activity-type: db_query
      x-codegen-request-body-name: body
  /query_tasks/multi_results:
    get:
      description: |
        ### Fetch results of multiple async queries

        Returns the results of multiple async queries in one request.

        For Query Tasks that are not completed, the response will include the execution status of the Query Task but will not include query results.
        Query Tasks whose results have expired will have a status of 'expired'.
        If the user making the API request does not have sufficient privileges to view a Query Task result, the result will have a status of 'missing'
      operationId: query_task_multi_results
      parameters:
      - description: List of Query Task IDs
        explode: false
        in: query
        name: query_task_ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: Multiple query results
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Multiple Async Query Results
      tags:
      - Query
      x-looker-status: beta
      x-looker-activity-type: db_query
  /query_tasks/{query_task_id}:
    get:
      description: |
        ### Get Query Task details

        Use this function to check the status of an async query task. After the status
        reaches "Complete", you can call [query_task_results(query_task_id)](#!/Query/query_task_results) to
        retrieve the results of the query.

        Use [create_query_task()](#!/Query/create_query_task) to create an async query task.
      operationId: query_task
      parameters:
      - description: ID of the Query Task
        in: path
        name: query_task_id
        required: true
        schema:
          type: string
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTask'
          description: query_task
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Async Query Info
      tags:
      - Query
      x-looker-status: beta
      x-looker-activity-type: db_query
  /query_tasks/{query_task_id}/results:
    get:
      description: |
        ### Get Async Query Results

        Returns the results of an async query task if the query has completed.

        If the query task is still running or waiting to run, this function returns 204 No Content.

        If the query task ID is invalid or the cached results of the query task have expired, this function returns 404 Not Found.

        Use [query_task(query_task_id)](#!/Query/query_task) to check the execution status of the query task
        Call query_task_results only after the query task status reaches "Complete".

        You can also use [query_task_multi_results()](#!/Query/query_task_multi_results) retrieve the
        results of multiple async query tasks at the same time.

        #### SQL Error Handling:
        If the query fails due to a SQL db error, how this is communicated depends on the result_format you requested in `create_query_task()`.

        For `json_detail` result_format: `query_task_results()` will respond with HTTP status '200 OK' and db SQL error info
        will be in the `errors` property of the response object. The 'data' property will be empty.

        For all other result formats: `query_task_results()` will respond with HTTP status `400 Bad Request` and some db SQL error info
        will be in the message of the 400 error response, but not as detailed as expressed in `json_detail.errors`.
        These data formats can only carry row data, and error info is not row data.
      operationId: query_task_results
      parameters:
      - description: ID of the Query Task
        in: path
        name: query_task_id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            text:
              schema:
                type: string
            application/json:
              schema:
                type: string
          description: The query results.
        204:
          content:
            text:
              schema:
                type: string
            application/json:
              schema:
                type: string
          description: The query is not finished
        400:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The Query Task Id was not found or the results have expired.
      summary: Get Async Query Results
      tags:
      - Query
      x-looker-status: beta
      x-looker-activity-type: db_query
  /queries/{query_id}:
    get:
      description: |+
        ### Get a previously created query by id.

        A Looker query object includes the various parameters that define a database query that has been run or
        could be run in the future. These parameters include: model, view, fields, filters, pivots, etc.
        Query *results* are not part of the query object.

        Query objects are unique and immutable. Query objects are created automatically in Looker as users explore data.
        Looker does not delete them; they become part of the query history. When asked to create a query for
        any given set of parameters, Looker will first try to find an existing query object with matching
        parameters and will only create a new object when an appropriate object can not be found.

        This 'get' method is used to get the details about a query for a given id. See the other methods here
        to 'create' and 'run' queries.

        Note that some fields like 'filter_config' and 'vis_config' etc are specific to how the Looker UI
        builds queries and visualizations and are not generally useful for API use. They are not required when
        creating new queries and can usually just be ignored.

      operationId: query
      parameters:
      - description: Id of query
        in: path
        name: query_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Query'
          description: Query
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Query
      tags:
      - Query
      x-looker-status: stable
      x-looker-activity-type: db_query
  /queries/slug/{slug}:
    get:
      description: |
        ### Get the query for a given query slug.

        This returns the query for the 'slug' in a query share URL.

        The 'slug' is a randomly chosen short string that is used as an alternative to the query's id value
        for use in URLs etc. This method exists as a convenience to help you use the API to 'find' queries that
        have been created using the Looker UI.

        You can use the Looker explore page to build a query and then choose the 'Share' option to
        show the share url for the query. Share urls generally look something like 'https://looker.yourcompany/x/vwGSbfc'.
        The trailing 'vwGSbfc' is the share slug. You can pass that string to this api method to get details about the query.
        Those details include the 'id' that you can use to run the query. Or, you can copy the query body
        (perhaps with your own modification) and use that as the basis to make/run new queries.

        This will also work with slugs from Looker explore urls like
        'https://looker.yourcompany/explore/ecommerce/orders?qid=aogBgL6o3cKK1jN3RoZl5s'. In this case
        'aogBgL6o3cKK1jN3RoZl5s' is the slug.
      operationId: query_for_slug
      parameters:
      - description: Slug of query
        in: path
        name: slug
        required: true
        schema:
          type: string
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Query'
          description: Query
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Query for Slug
      tags:
      - Query
      x-looker-status: stable
      x-looker-activity-type: db_query
  /queries:
    post:
      description: |+
        ### Create a query.

        This allows you to create a new query that you can later run. Looker queries are immutable once created
        and are not deleted. If you create a query that is exactly like an existing query then the existing query
        will be returned and no new query will be created. Whether a new query is created or not, you can use
        the 'id' in the returned query with the 'run' method.

        The query parameters are passed as json in the body of the request.

      operationId: create_query
      parameters:
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        description: Query
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Query'
          description: Query
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        409:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource Already Exists
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Create Query
      tags:
      - Query
      x-looker-status: stable
      x-looker-activity-type: db_query
      x-codegen-request-body-name: body
  /queries/{query_id}/run/{result_format}:
    get:
      description: |+
        ### Run a saved query.

        This runs a previously saved query. You can use this on a query that was generated in the Looker UI
        or one that you have explicitly created using the API. You can also use a query 'id' from a saved 'Look'.

        The 'result_format' parameter specifies the desired structure and format of the response.

        Supported formats:

        | result_format | Description
        | :-----------: | :--- |
        | json | Plain json
        | json_detail | Row data plus metadata describing the fields, pivots, table calcs, and other aspects of the query
        | csv | Comma separated values with a header
        | txt | Tab separated values with a header
        | html | Simple html
        | md | Simple markdown
        | xlsx | MS Excel spreadsheet
        | sql | Returns the generated SQL rather than running the query
        | png | A PNG image of the visualization of the query
        | jpg | A JPG image of the visualization of the query


      operationId: run_query
      parameters:
      - description: Id of query
        in: path
        name: query_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Format of result
        in: path
        name: result_format
        required: true
        schema:
          type: string
      - description: Row limit (may override the limit in the saved query).
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      - description: Apply model-specified formatting to each result.
        in: query
        name: apply_formatting
        schema:
          type: boolean
      - description: Apply visualization options to results.
        in: query
        name: apply_vis
        schema:
          type: boolean
      - description: Get results from cache if available.
        in: query
        name: cache
        schema:
          type: boolean
      - description: Render width for image formats.
        in: query
        name: image_width
        schema:
          format: int64
          type: integer
      - description: Render height for image formats.
        in: query
        name: image_height
        schema:
          format: int64
          type: integer
      - description: Generate drill links (only applicable to 'json_detail' format.
        in: query
        name: generate_drill_links
        schema:
          type: boolean
      - description: Force use of production models even if the user is in development
          mode.
        in: query
        name: force_production
        schema:
          type: boolean
      - description: Retrieve any results from cache even if the results have expired.
        in: query
        name: cache_only
        schema:
          type: boolean
      - description: Prefix to use for drill links (url encoded).
        in: query
        name: path_prefix
        schema:
          type: string
      - description: Rebuild PDTS used in query.
        in: query
        name: rebuild_pdts
        schema:
          type: boolean
      - description: Perform table calculations on query results
        in: query
        name: server_table_calcs
        schema:
          type: boolean
      responses:
        200:
          content:
            text:
              schema:
                type: string
            application/json:
              schema:
                type: string
            image/png:
              schema:
                type: string
            image/jpeg:
              schema:
                type: string
          description: Query
        400:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            text:
              schema:
                $ref: '#/components/schemas/ValidationError'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
            image/png:
              schema:
                $ref: '#/components/schemas/ValidationError'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Run Query
      tags:
      - Query
      x-looker-status: stable
      x-looker-activity-type: db_query
  /queries/run/{result_format}:
    post:
      description: |+
        ### Run the query that is specified inline in the posted body.

        This allows running a query as defined in json in the posted body. This combines
        the two actions of posting & running a query into one step.

        Here is an example body in json:
        ```
        {
          "model":"thelook",
          "view":"inventory_items",
          "fields":["category.name","inventory_items.days_in_inventory_tier","products.count"],
          "filters":{"category.name":"socks"},
          "sorts":["products.count desc 0"],
          "limit":"500",
          "query_timezone":"America/Los_Angeles"
        }
        ```

        When using the Ruby SDK this would be passed as a Ruby hash like:
        ```
        {
         :model=>"thelook",
         :view=>"inventory_items",
         :fields=>
          ["category.name",
           "inventory_items.days_in_inventory_tier",
           "products.count"],
         :filters=>{:"category.name"=>"socks"},
         :sorts=>["products.count desc 0"],
         :limit=>"500",
         :query_timezone=>"America/Los_Angeles",
        }
        ```

        This will return the result of running the query in the format specified by the 'result_format' parameter.

        Supported formats:

        | result_format | Description
        | :-----------: | :--- |
        | json | Plain json
        | json_detail | Row data plus metadata describing the fields, pivots, table calcs, and other aspects of the query
        | csv | Comma separated values with a header
        | txt | Tab separated values with a header
        | html | Simple html
        | md | Simple markdown
        | xlsx | MS Excel spreadsheet
        | sql | Returns the generated SQL rather than running the query
        | png | A PNG image of the visualization of the query
        | jpg | A JPG image of the visualization of the query


      operationId: run_inline_query
      parameters:
      - description: Format of result
        in: path
        name: result_format
        required: true
        schema:
          type: string
      - description: Row limit (may override the limit in the saved query).
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      - description: Apply model-specified formatting to each result.
        in: query
        name: apply_formatting
        schema:
          type: boolean
      - description: Apply visualization options to results.
        in: query
        name: apply_vis
        schema:
          type: boolean
      - description: Get results from cache if available.
        in: query
        name: cache
        schema:
          type: boolean
      - description: Render width for image formats.
        in: query
        name: image_width
        schema:
          format: int64
          type: integer
      - description: Render height for image formats.
        in: query
        name: image_height
        schema:
          format: int64
          type: integer
      - description: Generate drill links (only applicable to 'json_detail' format.
        in: query
        name: generate_drill_links
        schema:
          type: boolean
      - description: Force use of production models even if the user is in development
          mode.
        in: query
        name: force_production
        schema:
          type: boolean
      - description: Retrieve any results from cache even if the results have expired.
        in: query
        name: cache_only
        schema:
          type: boolean
      - description: Prefix to use for drill links (url encoded).
        in: query
        name: path_prefix
        schema:
          type: string
      - description: Rebuild PDTS used in query.
        in: query
        name: rebuild_pdts
        schema:
          type: boolean
      - description: Perform table calculations on query results
        in: query
        name: server_table_calcs
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        description: inline query
        required: true
      responses:
        200:
          content:
            text:
              schema:
                type: string
            application/json:
              schema:
                type: string
            image/png:
              schema:
                type: string
            image/jpeg:
              schema:
                type: string
          description: Query Result
        400:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            text:
              schema:
                $ref: '#/components/schemas/ValidationError'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
            image/png:
              schema:
                $ref: '#/components/schemas/ValidationError'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Run Inline Query
      tags:
      - Query
      x-looker-status: stable
      x-looker-activity-type: db_query
      x-codegen-request-body-name: body
  /queries/models/{model_name}/views/{view_name}/run/{result_format}:
    get:
      description: |+
        ### Run an URL encoded query.

        This requires the caller to encode the specifiers for the query into the URL query part using
        Looker-specific syntax as explained below.

        Generally, you would want to use one of the methods that takes the parameters as json in the POST body
        for creating and/or running queries. This method exists for cases where one really needs to encode the
        parameters into the URL of a single 'GET' request. This matches the way that the Looker UI formats
        'explore' URLs etc.

        The parameters here are very similar to the json body formatting except that the filter syntax is
        tricky. Unfortunately, this format makes this method not currently callable via the 'Try it out!' button
        in this documentation page. But, this is callable when creating URLs manually or when using the Looker SDK.

        Here is an example inline query URL:

        ```
        https://looker.mycompany.com:19999/api/3.0/queries/models/thelook/views/inventory_items/run/json?fields=category.name,inventory_items.days_in_inventory_tier,products.count&f[category.name]=socks&sorts=products.count+desc+0&limit=500&query_timezone=America/Los_Angeles
        ```

        When invoking this endpoint with the Ruby SDK, pass the query parameter parts as a hash. The hash to match the above would look like:

        ```ruby
        query_params =
        {
          :fields => "category.name,inventory_items.days_in_inventory_tier,products.count",
          :"f[category.name]" => "socks",
          :sorts => "products.count desc 0",
          :limit => "500",
          :query_timezone => "America/Los_Angeles"
        }
        response = ruby_sdk.run_url_encoded_query('thelook','inventory_items','json', query_params)

        ```

        Again, it is generally easier to use the variant of this method that passes the full query in the POST body.
        This method is available for cases where other alternatives won't fit the need.

        Supported formats:

        | result_format | Description
        | :-----------: | :--- |
        | json | Plain json
        | json_detail | Row data plus metadata describing the fields, pivots, table calcs, and other aspects of the query
        | csv | Comma separated values with a header
        | txt | Tab separated values with a header
        | html | Simple html
        | md | Simple markdown
        | xlsx | MS Excel spreadsheet
        | sql | Returns the generated SQL rather than running the query
        | png | A PNG image of the visualization of the query
        | jpg | A JPG image of the visualization of the query


      operationId: run_url_encoded_query
      parameters:
      - description: Model name
        in: path
        name: model_name
        required: true
        schema:
          type: string
      - description: View name
        in: path
        name: view_name
        required: true
        schema:
          type: string
      - description: Format of result
        in: path
        name: result_format
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            text:
              schema:
                type: string
            application/json:
              schema:
                type: string
            image/png:
              schema:
                type: string
            image/jpeg:
              schema:
                type: string
          description: Query
        400:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            text:
              schema:
                $ref: '#/components/schemas/ValidationError'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
            image/png:
              schema:
                $ref: '#/components/schemas/ValidationError'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            text:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Run Url Encoded Query
      tags:
      - Query
      x-looker-status: stable
      x-looker-activity-type: db_query
  /login:
    post:
      description: |
        ### Present client credentials to obtain an authorization token

        Looker API implements the OAuth2 [Resource Owner Password Credentials Grant](https://looker.com/docs/r/api/outh2_resource_owner_pc) pattern.
        The client credentials required for this login must be obtained by creating an API3 key on a user account
        in the Looker Admin console. The API3 key consists of a public `client_id` and a private `client_secret`.

        The access token returned by `login` must be used in the HTTP Authorization header of subsequent
        API requests, like this:
        ```
        Authorization: token 4QDkCyCtZzYgj4C2p2cj3csJH7zqS5RzKs2kTnG4
        ```
        Replace "4QDkCy..." with the `access_token` value returned by `login`.
        The word `token` is a string literal and must be included exactly as shown.

        This function can accept `client_id` and `client_secret` parameters as URL query params or as www-form-urlencoded params in the body of the HTTP request. Since there is a small risk that URL parameters may be visible to intermediate nodes on the network route (proxies, routers, etc), passing credentials in the body of the request is considered more secure than URL params.

        Example of passing credentials in the HTTP request body:
        ````
        POST HTTP /login
        Content-Type: application/x-www-form-urlencoded

        client_id=CGc9B7v7J48dQSJvxxx&client_secret=nNVS9cSS3xNpSC9JdsBvvvvv
        ````

        ### Best Practice:
        Always pass credentials in body params. Pass credentials in URL query params **only** when you cannot pass body params due to application, tool, or other limitations.

        For more information and detailed examples of Looker API authorization, see [How to Authenticate to Looker API3](https://github.com/looker/looker-sdk-ruby/blob/master/authentication.md).
      operationId: login
      parameters:
      - description: client_id part of API3 Key.
        in: query
        name: client_id
        schema:
          type: string
      - description: client_secret part of API3 Key.
        in: query
        name: client_secret
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
          description: Access token with metadata.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Login
      tags:
      - ApiAuth
      x-looker-status: stable
      x-looker-activity-type: none
  /login/{user_id}:
    post:
      description: |
        ### Create an access token that runs as a given user.

        This can only be called by an authenticated admin user. It allows that admin to generate a new
        authentication token for the user with the given user id. That token can then be used for subsequent
        API calls - which are then performed *as* that target user.

        The target user does *not* need to have a pre-existing API client_id/client_secret pair. And, no such
        credentials are created by this call.

        This allows for building systems where api user authentication for an arbitrary number of users is done
        outside of Looker and funneled through a single 'service account' with admin permissions. Note that a
        new access token is generated on each call. If target users are going to be making numerous API
        calls in a short period then it is wise to cache this authentication token rather than call this before
        each of those API calls.

        See 'login' for more detail on the access token and how to use it.
      operationId: login_user
      parameters:
      - description: Id of user.
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
      - description: When true (default), API calls using the returned access_token
          are attributed to the admin user who created the access_token. When false,
          API activity is attributed to the user the access_token runs as. False requires
          a looker license.
        in: query
        name: associative
        schema:
          type: boolean
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
          description: Access token with metadata.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Login user
      tags:
      - ApiAuth
      x-looker-status: stable
      x-looker-activity-type: none
  /logout:
    delete:
      description: |
        ### Logout of the API and invalidate the current access token.
      operationId: logout
      responses:
        204:
          content:
            application/json:
              schema:
                type: string
          description: Logged out successfully.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Logout
      tags:
      - ApiAuth
      x-looker-status: stable
      x-looker-activity-type: none
  /backup_configuration:
    get:
      deprecated: true
      description: |
        ### WARNING: The Looker internal database backup function has been deprecated.
      operationId: backup_configuration
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupConfiguration'
          description: Current Backup Configuration
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Backup Configuration
      tags:
      - Config
      x-looker-status: deprecated
      x-looker-activity-type: non_query
    patch:
      deprecated: true
      description: |
        ### WARNING: The Looker internal database backup function has been deprecated.
      operationId: update_backup_configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupConfiguration'
        description: Options for Backup Configuration
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupConfiguration'
          description: New state for specified model set.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
      summary: Update Backup Configuration
      tags:
      - Config
      x-looker-status: deprecated
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /cloud_storage:
    get:
      description: |
        Get the current Cloud Storage Configuration.
      operationId: cloud_storage_configuration
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupConfiguration'
          description: Current Cloud Storage Configuration
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Cloud Storage
      tags:
      - Config
      x-looker-status: beta
      x-looker-activity-type: non_query
    patch:
      description: |
        Update the current Cloud Storage Configuration.
      operationId: update_cloud_storage_configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupConfiguration'
        description: Options for Cloud Storage Configuration
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupConfiguration'
          description: New state for specified model set.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
      summary: Update Cloud Storage
      tags:
      - Config
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /color_collections:
    get:
      description: |+
        ### Get an array of all existing Color Collections
        Get a **single** color collection by id with [ColorCollection](#!/ColorCollection/color_collection)

        Get all **standard** color collections with [ColorCollection](#!/ColorCollection/color_collections_standard)

        Get all **custom** color collections with [ColorCollection](#!/ColorCollection/color_collections_custom)

        **Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.

      operationId: all_color_collections
      parameters:
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ColorCollection'
                type: array
          description: ColorCollections
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get all Color Collections
      tags:
      - ColorCollection
      x-looker-status: beta
      x-looker-activity-type: non_query
    post:
      description: |+
        ### Create a custom color collection with the specified information

        Creates a new custom color collection object, returning the details, including the created id.

        **Update** an existing color collection with [Update Color Collection](#!/ColorCollection/update_color_collection)

        **Permanently delete** an existing custom color collection with [Delete Color Collection](#!/ColorCollection/delete_color_collection)

        **Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.

      operationId: create_color_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ColorCollection'
        description: ColorCollection
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColorCollection'
          description: ColorCollection
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Permission Denied
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        409:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource Already Exists
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Create ColorCollection
      tags:
      - ColorCollection
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /color_collections/custom:
    get:
      description: |+
        ### Get an array of all existing **Custom** Color Collections
        Get a **single** color collection by id with [ColorCollection](#!/ColorCollection/color_collection)

        Get all **standard** color collections with [ColorCollection](#!/ColorCollection/color_collections_standard)

        **Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.

      operationId: color_collections_custom
      parameters:
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ColorCollection'
                type: array
          description: ColorCollections
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get all Custom Color Collections
      tags:
      - ColorCollection
      x-looker-status: beta
      x-looker-activity-type: non_query
  /color_collections/standard:
    get:
      description: |+
        ### Get an array of all existing **Standard** Color Collections
        Get a **single** color collection by id with [ColorCollection](#!/ColorCollection/color_collection)

        Get all **custom** color collections with [ColorCollection](#!/ColorCollection/color_collections_custom)

        **Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.

      operationId: color_collections_standard
      parameters:
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ColorCollection'
                type: array
          description: ColorCollections
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get all Standard Color Collections
      tags:
      - ColorCollection
      x-looker-status: beta
      x-looker-activity-type: non_query
  /color_collections/default:
    get:
      description: |
        ### Get the default color collection

        Use this to retrieve the default Color Collection.

        Set the default color collection with [ColorCollection](#!/ColorCollection/set_default_color_collection)
      operationId: default_color_collection
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColorCollection'
          description: ColorCollection
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Default Color Collection
      tags:
      - ColorCollection
      x-looker-status: beta
      x-looker-activity-type: non_query
    put:
      description: |+
        ### Set the global default Color Collection by ID

        Returns the new specified default Color Collection object.
        **Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.

      operationId: set_default_color_collection
      parameters:
      - description: ID of color collection to set as default
        in: query
        name: collection_id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColorCollection'
          description: ColorCollection
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Set Default Color Collection
      tags:
      - ColorCollection
      x-looker-status: beta
      x-looker-activity-type: non_query
  /color_collections/{collection_id}:
    delete:
      description: |+
        ### Delete a custom color collection by id

        This operation permanently deletes the identified **Custom** color collection.

        **Standard** color collections cannot be deleted

        Because multiple color collections can have the same label, they must be deleted by ID, not name.
        **Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.

      operationId: delete_color_collection
      parameters:
      - description: Id of Color Collection
        in: path
        name: collection_id
        required: true
        schema:
          type: string
      responses:
        200:
          content: {}
          description: Success
        204:
          content:
            application/json:
              schema:
                type: string
          description: Successfully deleted.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Permission Denied
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Delete ColorCollection
      tags:
      - ColorCollection
      x-looker-status: beta
      x-looker-activity-type: non_query
    get:
      description: |+
        ### Get a Color Collection by ID

        Use this to retrieve a specific Color Collection.
        Get a **single** color collection by id with [ColorCollection](#!/ColorCollection/color_collection)

        Get all **standard** color collections with [ColorCollection](#!/ColorCollection/color_collections_standard)

        Get all **custom** color collections with [ColorCollection](#!/ColorCollection/color_collections_custom)

        **Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.

      operationId: color_collection
      parameters:
      - description: Id of Color Collection
        in: path
        name: collection_id
        required: true
        schema:
          type: string
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColorCollection'
          description: ColorCollection
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Color Collection by ID
      tags:
      - ColorCollection
      x-looker-status: beta
      x-looker-activity-type: non_query
    patch:
      description: |+
        ### Update a custom color collection by id.
        **Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.

      operationId: update_color_collection
      parameters:
      - description: Id of Custom Color Collection
        in: path
        name: collection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ColorCollection'
        description: ColorCollection
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColorCollection'
          description: ColorCollection
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Permission Denied
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Update Custom Color collection
      tags:
      - ColorCollection
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /content_favorite/search:
    get:
      description: |+
        ### Search Favorite Content

        If multiple search params are given and `filter_or` is FALSE or not specified,
        search params are combined in a logical AND operation.
        Only rows that match *all* search param criteria will be returned.

        If `filter_or` is TRUE, multiple search params are combined in a logical OR operation.
        Results will include rows that match **any** of the search criteria.

        String search params use case-insensitive matching.
        String search params can contain `%` and '_' as SQL LIKE pattern match wildcard expressions.
        example="dan%" will match "danger" and "Danzig" but not "David"
        example="D_m%" will match "Damage" and "dump"

        Integer search params can accept a single value or a comma separated list of values. The multiple
        values will be combined under a logical OR operation - results will match at least one of
        the given values.

        Most search params can accept "IS NULL" and "NOT NULL" as special expressions to match
        or exclude (respectively) rows where the column is null.

        Boolean search params accept only "true" and "false" as values.

      operationId: search_content_favorites
      parameters:
      - description: Match content favorite id(s)
        in: query
        name: id
        schema:
          format: int64
          type: integer
      - description: Match user id(s)
        in: query
        name: user_id
        schema:
          format: int64
          type: integer
      - description: Match content metadata id(s)
        in: query
        name: content_metadata_id
        schema:
          format: int64
          type: integer
      - description: Match dashboard id(s)
        in: query
        name: dashboard_id
        schema:
          format: int64
          type: integer
      - description: Match look id(s)
        in: query
        name: look_id
        schema:
          format: int64
          type: integer
      - description: Number of results to return. (used with offset)
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      - description: Number of results to skip before returning any. (used with limit)
        in: query
        name: offset
        schema:
          format: int64
          type: integer
      - description: Fields to sort by.
        in: query
        name: sorts
        schema:
          type: string
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      - description: Combine given search criteria in a boolean OR expression
        in: query
        name: filter_or
        schema:
          type: boolean
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContentFavorite'
                type: array
          description: Favorite Content
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Search Favorite Contents
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
  /content_favorite/{content_favorite_id}:
    delete:
      description: '### Delete favorite content'
      operationId: delete_content_favorite
      parameters:
      - description: Id of favorite content
        in: path
        name: content_favorite_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        204:
          content:
            application/json:
              schema:
                type: string
          description: Successfully deleted.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Delete Favorite Content
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
    get:
      description: '### Get favorite content by its id'
      operationId: content_favorite
      parameters:
      - description: Id of favorite content
        in: path
        name: content_favorite_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFavorite'
          description: Favorite Content
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Favorite Content
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
  /content_favorite:
    post:
      description: '### Create favorite content'
      operationId: create_content_favorite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentFavorite'
        description: Favorite Content
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentFavorite'
          description: Favorite Content
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        409:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource Already Exists
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Create Favorite Content
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /content_metadata:
    get:
      description: |
        ### Get information about all content metadata in a space.
      operationId: all_content_metadatas
      parameters:
      - description: Parent space of content.
        in: query
        name: parent_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContentMeta'
                type: array
          description: Content Metadata
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get All Content Metadatas
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
  /content_metadata/{content_metadata_id}:
    get:
      description: |
        ### Get information about an individual content metadata record.
      operationId: content_metadata
      parameters:
      - description: Id of content metadata
        in: path
        name: content_metadata_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMeta'
          description: Content Metadata
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Content Metadata
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
    patch:
      description: |
        ### Move a piece of content.
      operationId: update_content_metadata
      parameters:
      - description: Id of content metadata
        in: path
        name: content_metadata_id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentMeta'
        description: Content Metadata
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMeta'
          description: Content Metadata
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Update Content Metadata
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /content_metadata_access:
    get:
      description: |
        ### All content metadata access records for a content metadata item.
      operationId: all_content_metadata_accesses
      parameters:
      - description: Id of content metadata
        in: query
        name: content_metadata_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContentMetaGroupUser'
                type: array
          description: Content Metadata Access
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get All Content Metadata Accesses
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
    post:
      description: |
        ### Create content metadata access.
      operationId: create_content_metadata_access
      parameters:
      - description: Optionally sends notification email when granting access to a
          board.
        in: query
        name: send_boards_notification_email
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentMetaGroupUser'
        description: Content Metadata Access
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMetaGroupUser'
          description: Content Metadata Access
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        409:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource Already Exists
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Create Content Metadata Access
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-looker-rate-limited: true
      x-codegen-request-body-name: body
  /content_metadata_access/{content_metadata_access_id}:
    delete:
      description: |
        ### Remove content metadata access.
      operationId: delete_content_metadata_access
      parameters:
      - description: Id of content metadata access
        in: path
        name: content_metadata_access_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        204:
          content:
            application/json:
              schema:
                type: string
          description: Successfully deleted.
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Delete Content Metadata Access
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
    put:
      description: |
        ### Update type of access for content metadata.
      operationId: update_content_metadata_access
      parameters:
      - description: Id of content metadata access
        in: path
        name: content_metadata_access_id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentMetaGroupUser'
        description: Content Metadata Access
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMetaGroupUser'
          description: Content Metadata Access
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Update Content Metadata Access
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /content_thumbnail/{type}/{resource_id}:
    get:
      description: |
        ### Get an image representing the contents of a dashboard or look.

        The returned thumbnail is an abstract representation of the contents of a dashbord or look and does not
        reflect the actual data displayed in the respective visualizations.
      operationId: content_thumbnail
      parameters:
      - description: Either dashboard or look
        in: path
        name: type
        required: true
        schema:
          type: string
      - description: ID of the dashboard or look to render
        in: path
        name: resource_id
        required: true
        schema:
          type: string
      - description: Whether or not to refresh the rendered image with the latest
          content
        in: query
        name: reload
        schema:
          type: string
      - description: A value of png produces a thumbnail in PNG format instead of
          SVG (default)
        in: query
        name: format
        schema:
          type: string
      - description: The width of the image if format is supplied
        in: query
        name: width
        schema:
          format: int64
          type: integer
      - description: The height of the image if format is supplied
        in: query
        name: height
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            image/svg+xml:
              schema:
                type: string
            image/png:
              schema:
                type: string
          description: Content thumbnail
        400:
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Content Thumbnail
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: db_query
  /content_validation:
    get:
      description: |
        ### Validate All Content

        Performs validation of all looks and dashboards
        Returns a list of errors found as well as metadata about the content validation run.
      operationId: content_validation
      parameters:
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentValidation'
          description: Content validation results
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Validate Content
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
  /content_view/search:
    get:
      description: |+
        ### Search Content Views

        If multiple search params are given and `filter_or` is FALSE or not specified,
        search params are combined in a logical AND operation.
        Only rows that match *all* search param criteria will be returned.

        If `filter_or` is TRUE, multiple search params are combined in a logical OR operation.
        Results will include rows that match **any** of the search criteria.

        String search params use case-insensitive matching.
        String search params can contain `%` and '_' as SQL LIKE pattern match wildcard expressions.
        example="dan%" will match "danger" and "Danzig" but not "David"
        example="D_m%" will match "Damage" and "dump"

        Integer search params can accept a single value or a comma separated list of values. The multiple
        values will be combined under a logical OR operation - results will match at least one of
        the given values.

        Most search params can accept "IS NULL" and "NOT NULL" as special expressions to match
        or exclude (respectively) rows where the column is null.

        Boolean search params accept only "true" and "false" as values.

      operationId: search_content_views
      parameters:
      - description: Match view count
        in: query
        name: view_count
        schema:
          format: int64
          type: integer
      - description: Match Group Id
        in: query
        name: group_id
        schema:
          format: int64
          type: integer
      - description: Match look_id
        in: query
        name: look_id
        schema:
          type: string
      - description: Match dashboard_id
        in: query
        name: dashboard_id
        schema:
          type: string
      - description: Match content metadata id
        in: query
        name: content_metadata_id
        schema:
          format: int64
          type: integer
      - description: Match start of week date (format is "YYYY-MM-DD")
        in: query
        name: start_of_week_date
        schema:
          type: string
      - description: True if only all time view records should be returned
        in: query
        name: all_time
        schema:
          type: boolean
      - description: Match user id
        in: query
        name: user_id
        schema:
          format: int64
          type: integer
      - description: Requested fields
        in: query
        name: fields
        schema:
          type: string
      - description: Number of results to return. Use with `offset` to manage pagination
          of results
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      - description: Number of results to skip before returning data
        in: query
        name: offset
        schema:
          format: int64
          type: integer
      - description: Fields to sort by
        in: query
        name: sorts
        schema:
          type: string
      - description: Combine given search criteria in a boolean OR expression
        in: query
        name: filter_or
        schema:
          type: boolean
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContentView'
                type: array
          description: Content View
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Search Content Views
      tags:
      - Content
      x-looker-status: beta
      x-looker-activity-type: non_query
  /custom_welcome_email:
    get:
      description: |
        ### Get the current status and content of custom welcome emails
      operationId: custom_welcome_email
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomWelcomeEmail'
          description: Custom Welcome Email
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get Custom Welcome Email
      tags:
      - Config
      x-looker-status: beta
      x-looker-activity-type: non_query
    patch:
      description: |
        Update custom welcome email setting and values. Optionally send a test email with the new content to the currently logged in user.
      operationId: update_custom_welcome_email
      parameters:
      - description: If true a test email with the content from the request will be
          sent to the current user after saving
        in: query
        name: send_test_welcome_email
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomWelcomeEmail'
        description: Custom Welcome Email setting and value to save
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomWelcomeEmail'
          description: Custom Welcome Email
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Update Custom Welcome Email Content
      tags:
      - Config
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /custom_welcome_email_test:
    put:
      description: |
        Requests to this endpoint will send a welcome email with the custom content provided in the body to the currently logged in user.
      operationId: update_custom_welcome_email_test
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WelcomeEmailTest'
        description: Subject, header, and Body of the email to be sent.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WelcomeEmailTest'
          description: Send Test Welcome Email
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: 'Send a test welcome email to the currently logged in user with the
        supplied content '
      tags:
      - Config
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /dashboards:
    get:
      description: |
        ### Get information about all active dashboards.

        Returns an array of **abbreviated dashboard objects**. Dashboards marked as deleted are excluded from this list.

        Get the **full details** of a specific dashboard by id with [dashboard()](#!/Dashboard/dashboard)

        Find **deleted dashboards** with [search_dashboards()](#!/Dashboard/search_dashboards)
      operationId: all_dashboards
      parameters:
      - description: Requested fields.
        in: query
        name: fields
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DashboardBase'
                type: array
          description: dashboards
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get All Dashboards
      tags:
      - Dashboard
      x-looker-status: beta
      x-looker-activity-type: non_query
    post:
      description: |
        ### Create a new dashboard

        Creates a new dashboard object and returns the details of the newly created dashboard.

        `Title`, `user_id`, and `space_id` are all required fields.
        `Space_id` and `user_id` must contain the id of an existing space or user, respectively.
        A dashboard's `title` must be unique within the space in which it resides.

        If you receive a 422 error response when creating a dashboard, be sure to look at the
        response body for information about exactly which fields are missing or contain invalid data.

        You can **update** an existing dashboard with [update_dashboard()](#!/Dashboard/update_dashboard)

        You can **permanently delete** an existing dashboard with [delete_dashboard()](#!/Dashboard/delete_dashboard)
      operationId: create_dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        description: Dashboard
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Dashboard
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        409:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource Already Exists
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation Error
        429:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Create Dashboard
      tags:
      - Dashboard
      x-looker-status: beta
      x-looker-activity-type: non_query
      x-codegen-request-body-name: body
  /dashboards/search:
    get:
      description: |
        ### Search Dashboards

        Returns an **array of dashboard objects** that match the specified search criteria.

        If multiple search params are given and `filter_or` is FALSE or not specified,
        search params are combined in a logical AND operation.
        Only rows that match *all* search param criteria will be returned.

        If `filter_or` is TRUE, multiple search params are combined in a logical OR operation.
        Results will include rows that match **any** of the search criteria.

        String search params use case-insensitive matching.
        String search params can contain `%` and '_' as SQL LIKE pattern match wildcard expressions.
        example="dan%" will match "danger" and "Danzig" but not "David"
        example="D_m%" will match "Damage" and "dump"

        Integer search params can accept a single value or a comma separated list of values. The multiple
        values will be combined under a logical OR operation - results will match at least one of
        the given values.

        Most search params can accept "IS NULL" and "NOT NULL" as special expressions to match
        or exclude (respectively) rows where the column is null.

        Boolean search params accept only "true" and "false" as values.


        The parameters `limit`, and `offset` are recommended for fetching results in page-size chunks.

        Get a **single dashboard** by id with [dashboard()](#!/Dashboard/dashboard)
      operationId: search_dashboards
      parameters:
      - description: Match dashboard id.
        in: query
        name: id
        schema:
[...]
